<section class="about">
  <div class="row">
    <div class="descricao1"> 
      <div class="content">
        <h1>30 ANOS</h1>
        <p>Em 2015, o Departamento de Informática e Matemática Aplicada comemora 30 anos de existência. Para celebrar o aniversário, realizaremos um workshop no período de 24 a 27 de agosto. Este evento congregará palestras, apresentações de trabalhos científicos e tecnológicos, sessões de demonstração e apresentações de posters e comemorações ao longo da semana.</p>
      </div>
    </div>

    <div class="descricao2">  
      <div class="content">
        <h1>Workshop</h1>
        <p>O evento Workshop DIMAp 30 Anos será realizado na Universidade Federal do Rio Grande do Norte - UFRN, sendo destinado a apresentação e publicação de trabalhos científicos e tecnológicos desenvolvidos por professores e estudantes das diversas áreas da computação. O evento incentiva a submissão tanto de trabalhos que estejam em etapas avançadas, bem como de trabalhos com ideias promissoras e com resultados ainda iniciais.</p>
      </div>
    </div>
  </div>
</section>
