<section class="about">
  <div class="row">
  <h1>Comissão Organizadora</h1>

    <div class="descricao1"> 
      <div class="content">
        <h1>COORDENADORAS GERAL</h1>
        <p>Profa Monica Magalhães Pereira</p>
        <p>Profa Thaís Vasconcelos Batista</p>
      </div> <br />
      <div class="content">
        <h1>COORDENADORAS DE PROGRAMA</h1>
        <p>Profa Sílvia Maria Diniz Monteiro Maia</p>
		<p>Profa Márcia Jacyntha Nunes Rodrigues Lucena</p>
      </div> <br />
      <div class="content"> 
    	<h1>ARTE</h1>
    		Cláudia Kiermes
    	</div>
    	<br/>
    	<div class="content"> 
    	<h1>SITE</h1>
    		Viviane Costa
    	</div>
      <div class="content">
      	
      </div>
    </div>  
    <div class="descricao2">
    	<div class="content"> 
    	<h1>COMITÊ DE PROGRAMA - EM FORMAÇÃO</h1>
    		<p>André Maurício Cunha Campos</p>
			<p>Augusto José Venâncio Neto</p>
			<p>Benjamin Rene Callejas Bedregal</p>
			<p>Carlos Augusto Prolo</p>
			<p>Edgard de Faria Correa</p>
			<p>Eduardo Henrique da Silva Aranha</p>
			<p>Elizabeth Ferreira Gôuvea </p>
			<p>Fernando Marques Figueira Filho</p>
			<p>Gibeon Soares de Aquino Junior</p>
			<p>Jair Cavalcanti Leite</p>
			<p>Joao Marcos de Almeida</p>
			<p>Lyrene Fernandes da Silva</p>
			<p>Marcel Vinícius Medeiros Oliveira</p>
			<p>Marcio Eduardo Kreutz</p>
			<p>Márjory Cristiany da Costa Abreu</p>
			<p>Martin Alejandro Musicante</p>
			<p>Richard Bonichon</p>
			<p>Selan Rodrigues Dos Santos</p>
			<p>Uirá Kulesza</p>
    	</div>
    	<br/>
    </div>
    
  </div>
</section>
