<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   <title>WORKSHOP DIMAP </title>
   <meta name="description" content="">  
   <meta name="author" content="">
   <script src="js/modernizr.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="js/bootstrap.js"></script>
   <link rel="stylesheet" href="css/bootstrap.css"> 
<link rel="stylesheet" href="css/layout.css">
   <script src="js/angular.js"></script>
   <script src="js/app.js"></script>


</head>
<body ng-app="app" ng-controller="PanelController as panel">
   <div id="wrapper">	
      <header> 
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid"> 
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-justified">


                  <li><a ng-click="panel.selectTab(1)" data-toggle="collapse" data-target=".in">Início</a></li>
                  <li><a ng-click="panel.selectTab(2)" data-toggle="collapse" data-target=".in">Comitês</a></li>
                  <li><a ng-click="panel.selectTab(3)" data-toggle="collapse" data-target=".in">Chamada de Trabalhos</a></li>
                  <li><a ng-click="panel.selectTab(4)" data-toggle="collapse" data-target=".in">Submissão</a></li>
                  <li><a ng-click="panel.selectTab(5)" data-toggle="collapse" data-target=".in">Programação</a></li>
                  <li><a ng-click="panel.selectTab(6)" data-toggle="collapse" data-target=".in">Inscrição</a></li>
                  <li><a ng-click="panel.selectTab(7)" data-toggle="collapse" data-target=".in">Local</a></li>
                  <li><a ng-click="panel.selectTab(8)" data-toggle="collapse" data-target=".in">Apoio</a></li>
                  <li><a href="http://www.dimap.ufrn.br">DIMAp</a></li>


            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
         

      </header> <!-- Header End -->
      <div class="banner container">          
               <img class="img-responsive" src='img/ban_1100X275.png' align="middle">      
      </div>

      <div id="cardboard" class="container">  
            <!-- Inicio -->
            <div id="inicio" class="text" ng-show="panel.isSelected(1)">
               <div id="body-text">
               
               <p id="paragrafo">Tutoriais confirmados! Detalhes na aba "PROGRAMAÇÃO"</p>
               <p id="paragrafo">Mesa redonda "Mulheres na Computação". Detalhes na aba "PROGRAMAÇÃO"</p>
               <p id="paragrafo">Questionário sobre o tema <A HREF="https://goo.gl/OJ3VTM" TARGET="_BLANK">
				"Mulheres na Computação"</A> - Para ser respondido por homens e mulheres. </p>               
               
               <h1> Início</h1>
               
               <p id="paragrafo">Em 2015, o Departamento de Informática e Matemática Aplicada comemora 30 anos de existência. Para celebrar o aniversário, realizaremos um workshop no período de 24 a 27 de agosto. Este  evento congregará palestras, apresentações de trabalhos científicos e tecnológicos, sessões de demonstração e 
               apresentações de posters e comemorações ao longo da semana.</p>
               <p id="paragrafo">O evento Workshop DIMAp 30 Anos será realizado na Universidade Federal do Rio Grande do Norte - UFRN, sendo destinado a apresentação e publicação de trabalhos científicos e tecnológicos desenvolvidos por professores e estudantes das diversas áreas da computação. O evento incentiva a submissão tanto de trabalhos que estejam em etapas avançadas, bem como de trabalhos com ideias promissoras e com resultados ainda iniciais.</p>
               <p id="paragrafo">O Workshop DIMAp 30 Anos também contemplará sessões de demonstração e apresentação de posters. Poderão submeter trabalhos para essas sessões professores e estudantes que desejem apresentar novas tecnologias, resultados de pesquisa aplicada ou de projetos desenvolvidos, quer concluídos quer ainda em andamento.</p>
               </div>
            </div>


            <!-- Comites -->
            <div id="comites" class="text" ng-show="panel.isSelected(2)">
               <div id="comites">
               <h1 style="text-align:center">Comissão Organizadora </h1>
                  <br>
                  <h2>Coordenadoras  Geral</h2>
                     <h3>Profa Monica Magalhães Pereira</h3>
                     <h3>Profa Thaís Vasconcelos Batista</h3>
                  <br>
                  <h2>Coordenadoras de Programa</h2>
                     <h3>Profa Sílvia Maria Diniz Monteiro Maia</h3>
                     <h3>Profa Márcia Jacyntha Nunes Rodrigues Lucena</h3>
                  <br>
                  <h2>Comitê de Programa - Em Formação</h2>
                     <h3>André Maurício Cunha Campos</h3> 
      					<h3>Augusto José Venâncio Neto </h3>
      					<h3>Benjamin Rene Callejas Bedregal </h3>
      					<h3>Carlos Augusto Prolo</h3>
      					<h3>Edgard de Faria Correa</h3>
      					<h3>Eduardo Henrique da Silva Aranha</h3>
      					<h3>Elizabeth Ferreira Gôuvea </h3>
      					<h3>Fernando Marques Figueira Filho</h3> 
      					<h3>Gibeon Soares de Aquino Junior </h3>
      					<h3>Jair Cavalcanti Leite</h3>
      					<h3>Joao Marcos de Almeida</h3>
      					<h3>Lyrene Fernandes da Silva </h3>
      					<h3>Marcel Vinícius Medeiros Oliveira</h3>
      					<h3>Marcio Eduardo Kreutz</h3>
      					<h3>Márjory Cristiany da Costa Abreu</h3>
      					<h3>Martin Alejandro Musicante </h3>
      					<h3>Richard Bonichon</h3>
      					<h3>Selan Rodrigues Dos Santos </h3>
      					<h3>Uirá Kulesza</h3>
                  <br>
                  <h2>Arte</h2>
                     <h3>Cláudia Kiermes</h3>
                  <br>
                  <h2>Página</h2>
                     <h3>Viviane Costa</h3>
               
               </div>
            </div>


            <!-- Chamada -->
            <div id="chamada" class="text" ng-show="panel.isSelected(3)">
               <div id="text-chamada">
                  <h1> Chamada</h1>

                  <p id ="paragrafo">Em 2015, o Departamento de Informática e Matemática Aplicada comemora 30 anos de existência. Para
                     celebrar o aniversário, realizaremos um workshop no período de 24 a 27 de agosto. Este evento
                     congregará palestras, apresentações de trabalhos científicos e tecnológicos, sessões de demonstração e
                     apresentações de posters e comemorações ao longo da semana.</p>
                  <p id ="paragrafo">O evento Workshop DIMAp 30 Anos será realizado na Universidade Federal do Rio Grande do Norte UFRN,
                     sendo destinado a apresentação e publicação de trabalhos científicos e tecnológicos desenvolvidos
                     por professores e estudantes das diversas áreas da computação. O evento incentiva a submissão tanto de
                     trabalhos que estejam em etapas avançadas, bem como de trabalhos com ideias promissoras e com
                     resultados ainda iniciais.</p>
                  <p id ="paragrafo" >O Workshop DIMAp 30 Anos também contemplará sessões de demonstração e apresentação de posters.
                     Poderão submeter trabalhos para essas sessões professores e estudantes que desejem apresentar novas
                     tecnologias, resultados de pesquisa aplicada ou de projetos desenvolvidos, quer concluídos quer ainda em
                     andamento.</p>    
                  <p ><b>Quem poderá participar:</b></p>
                  <p>Os trabalhos submetidos devem ter co-autoria de pelo menos um membro (aluno ou professor) do DIMAp.</p>
                  <p><b>Como participar:</b></p>
                     <p>- Artigos científicos: Os autores são convidados a submeter artigos escritos em português com no máximo 4 páginas no formato SBC.</p>
                     <p>- Poster ou demonstração: Os autores são convidados a submeter artigos escritos em português com no máximo 2 páginas no formato SBC.</p>
                  <div id="links">
                     <a href="http://www.sbc.org.br/index.php?option=com_jdownloads&Itemid=195&task=viewcategory&catid=32"> Modelo de  Artigo formato SBC</a>
                  </div>
               
                  <div id="datas">
                     <h2>Datas Importantes:</h2>
                        <ul>
                           <li>Data limite para envio dos artigos: <b><strike>17 de maio de 2015</strike><font color="#FF0000"> 20 de maio de 2015 (prazo final)</font></b></li>
                           <li>Notificação de aceitação: <b>28 de junho de 2015.</b></li>
                           <li>Envio das versões finais: <b>13 de julho de 2015.</b></li>
                        </ul>
                  </div>
                  <br>
                  <p id="in"> Versão da Chamada de Trabalhos em</p>
                  <a id="in"href="CFP_DIMAp30anos.pdf"> PDF </a>
               </div>
            </div>


            <!-- Submissao -->
            <div id="submissao" class="text" ng-show="panel.isSelected(4)">
               <div id="text-submissao">
                  <h1> Submissão</h1>
                  <p id="paragrafo">No momento da submissão, o autor deverá escolher se o trabalho será avaliado para apresentação de
                  trabalho científico ou para a sessão de demonstrações/posters. Os artigos selecionados para o evento
                  serão publicados em anais eletrônicos disponibilizados na página do DIMAp e os autores deverão
                  apresentar seus trabalhos durante o workshop.</p>
                  <p id="paragrafo">No encerramento do evento serão divulgados o melhor artigo científico e o melhor artigo do tipo poster/demonstração apresentados durante o evento. A escolha será feita por uma comissão julgadora.</p>

                  <div id="links">
                     <a href="http://www.sbc.org.br/index.php?option=com_jdownloads&Itemid=195&task=viewcategory&catid=32">Modelo de artigo   </a>
                     
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://easychair.org/conferences/?conf=dimap30anos">Página de Submissão</a>
                  </div>
               </div>            
               <div id="datas"><h2>Datas Importantes:</h2>
                  <ul>
                        <li>Data limite para envio dos artigos: <b><strike>17 de maio de 2015</strike><font color="#FF0000"> 20 de maio de 2015 (prazo final)</font></b></li>
                         <li>Notificação de aceitação: <b>28 de junho de 2015.</b></li>
                         <li>Envio das versões finais: <b>13 de julho de 2015.</b></li>
                  </ul>
               </div>
            


            <!-- Instruçoes -->
            <div id="instrucoes"><h2>Instruções de submissão:</h2>
                  <p id="paragrafo">O sistema de submissão é o EasyChair. Ao clicar no link <a href="https://easychair.org/conferences/?conf=dimap30anos">"Página de Submissão"</a>, o sistema irá solicitar 
                  um novo cadastro ou o login, em caso de usuário já cadastrado no sistema. Após o login, o usuário será direcionado à página de submissão (<i>new submission</i>) e irá cadastrar autores, título, resumo (<i>abstract</i>), palavras
                  chave e escolher entre duas categorias "Artigo científico" ou "Poster/Demonstração". Para cada categoria existe um subconjunto de tópicos, como listado abaixo, que também devem ser selecionados. 
                  Um único artigo poderá se enquadrar em mais de um tópico, ou não se enquadrar precisamente nos tópicos listados. Mesmo assim, é necessária a seleção do(s) tópico(s), que irá auxiliar ao comitê na revisão dos artigos.
                  <p>
                  <dl>
                     <dt>Artigo Científico:</dt>
                     <dd>Algoritmos e Estrutura de Dados</dd>  
                     <dd>Arquitetura de Computadores</dd>
                     <dd>Computação Gráfica</dd>
                     <dd>Engenharia de Software</dd>  
                     <dd>Inteligência Artificial</dd>
                     <dd>Linguagens de Programação e Compiladores</dd>  
                     <dd>Lógica</dd>   
                     <dd>Programação Distribuída</dd>
                     <dd>Redes de Computadores  </dd>
                     <dd>Sistemas Operacionais</dd>
                  <dt>Poster/Demonstração:</dt>
                     <dd>Software: jogo, aplicativo, ferramenta, etc </dd>
                     <dd>Sistema embarcado: protótipo</dd>
                     </dl></p>
               </div>
            </div>


            <!-- Programaçao -->
            <div id="programacao" class="text" ng-show="panel.isSelected(5)">
               <div id="body-text">
                  <h1> PROGRAMAÇÃO</h1>
                  <p id="paragrafo">Durante o evento teremos palestras de convidados, apresentações de trabalhos,
                  tutoriais e demonstrações</p>
                  <h2>Tutoriais confirmados</h2>
                  <UL TYPE="circle">
				<LI><A HREF="https://www.dimap.ufrn.br/dimap30anos/descricao_tutoriais.htm" TARGET="_BLANK">Tutorial 1 &#8211; Machine-Oriented Reasoning</A></LI>
				<LI><A HREF="https://www.dimap.ufrn.br/dimap30anos/descricao_tutoriais.htm" TARGET="_BLANK">Tutorial 2 &#8211; Plataformas para a Internet das Coisas</A></LI>
				<LI><A HREF="https://www.dimap.ufrn.br/dimap30anos/descricao_tutoriais.htm" TARGET="_BLANK">Tutorial 3 &#8211; Introdução a Arduino</A></LI>
				<LI><A HREF="https://www.dimap.ufrn.br/dimap30anos/descricao_tutoriais.htm" TARGET="_BLANK">Tutorial 4 &#8211; Introdu&ccedil;&atilde;o &agrave; Linguagem Python</A></LI>
				</UL>
				<h2>Mesa redonda</h2>
				<p id="paragrafo"><A HREF="https://www.dimap.ufrn.br/dimap30anos/descricao_tutoriais.htm" TARGET="_BLANK"> Mulheres na Computação - Em busca da realidade local</A></p>

               </div>
            </div>

            <div id="inscricoes" class="text" ng-show="panel.isSelected(6)">
               <div id="text-inscricao">
                  <h1> Inscrições</h1>
                  <p id="paragrafo"> A ser definido.</p>
               </div>
            </div>



            <!-- Local -->
            <div id="local" class="text" ng-if="panel.isSelected(7)">
               <div id="text-infos">
                  <h1> LOCAL </h1>
                  <p id="paragrafo"> Anfiteatro do CCET, UFRN, Lagoa Nova, Natal-RN.</p>
                  <br>
                  <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7938.203491799303!2d-35.201029698439235!3d-5.8412815471692126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2ff761be5a861%3A0xcb40098df9b49e5e!2sAnfiteatro+CCET!5e0!3m2!1sen!2sbr!4v1427743857678" width="100%" height="100%" frameborder="0" ></iframe>
                  </div>
                  <br>
                  <br>
               </div>
            </div>

            <!-- Apoio -->
            <div id="apoio" class="text" ng-if="panel.isSelected(8)">
               <div id="text-infos">
                  <h1> APOIO </h1>
                   
                  		<A HREF="http://www.credsuper.com.br/" TARGET="_BLANK"> 
                  		<IMG SRC="img/credsuper.jpg" height="100" width="200"  style="border:5px double black;"/>
                  		</A>
           				&nbsp;&nbsp;                   
<!--                  		<A HREF="http://www.credsuper.com.br/" TARGET="_BLANK"> 
                  		<IMG SRC="img/credsuper.jpg" height="100" width="200"  style="border:5px double black;"/>
                  		</A>
           				&nbsp;&nbsp;
           				<br> <br>
    -->       				
                  <br>
                  <h1> COLABORAÇÃO </h1>
                  <br>
                  		<A HREF="http://brasil.pyladies.com/" TARGET="_BLANK"> 
                  		<IMG SRC="img/pyladies-avatar.png" height="100" width="100"  style="border:5px double black;"/>
                  		</A>
                  		
           				&nbsp;&nbsp;                   
                  <br>
                  <span style="font-size:24pt"><b>Natal</b></span>
               </div>
            </div>
            



      <footer>
         <h3> Em caso de dúvidas ou maiores informações, favor contatar:</h3>
         <h4>dimap30anos@dimap.ufrn.br</h4>
      </footer>
   </div>
</body>
</html>
